In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
directory = 'upb_data'

In [3]:
# Make a class to hold this stuff

class RawDZ:
    def __init__(self,name,accepted,rejected,standards,syst_238,syst_207):

        self.name = name
        self.accepted = accepted
        self.rejected = rejected
        self.standards = standards
        self.syst_238 = syst_238
        self.syst_207 = syst_207

        return

In [4]:
# Get datatables and remove junk
samples = []

for root,dirs,files in os.walk(directory):
    # Get names from dirs
    if len(dirs)>1:
        names = dirs
        print(names)
    
    for file in files:
        if ('_DataTable.xls' in file) & ('lock' not in file):
            path = os.path.join(root,file)
            
            # Read relevant part of the Excel file
            df = pd.read_excel(path,skiprows=25,usecols='A:T',header=None,sheet_name='Sheet1')
            df.columns = np.arange(20)

            reject = pd.read_excel(path,skiprows=25,usecols='W:AP',header=None,sheet_name='Sheet1')
            reject.columns = np.arange(20)

            stand = pd.read_excel(path,skiprows=25,usecols='AS:BL',header=None,sheet_name='Sheet1')
            stand.columns = np.arange(20)

            syst = pd.read_excel(path,skiprows=9,nrows=2,header=None,
                                        usecols='B')

            syst_238 = syst.loc[0,1]
            syst_207 = syst.loc[1,1]
            
            # Remove empty rows
            df.dropna(how='all',inplace=True)
            reject.dropna(how='all',inplace=True)
            
            # Move SLs to standards
            sl_bool = df.iloc[:,0].str.contains('SL')

            sl = df[sl_bool==True]
            df = df[sl_bool==False]

            # Remove rejected standards
            reject.iloc[:,0] = reject.iloc[:,0].astype(str)

            std_reject = (
                (reject.iloc[:,0].str.contains('SL'))|
                (reject.iloc[:,0].str.contains('F'))|
                (reject.iloc[:,0].str.contains('R'))
            )

            reject = reject[std_reject==False]

            name = file.partition('_')[0]

            sample = RawDZ(name=name,accepted=df,rejected=reject,standards=stand,syst_238=syst_238,syst_207=syst_207)
            print(sample.name)

            samples.append(sample)

100211-1A
100211-9A
100411-5
AB0913
AB0926
CT130918-2A
CT130918-9A
CT130919-5A
CT130919-8A
CT15076
CT15082
CT15092
CT15099
CT15113
CT15127

In [5]:
# Set up the spreadsheet

title = 'Table S1: Results of U-Th-Pb analyses for detrital zircon samples'
ncols = 20

title_row = pd.Series(index=np.arange(20),dtype='str')
title_row[0] = title
title_row[1:] = ''

header1 = pd.Series(index=np.arange(20),dtype='str')
header1[6] = 'Isotope ratios'
header1[11] = 'Apparent ages (Ma)'
header1[:6] = ''
header1[12:] = ''

header2_vals = (
['Analysis','U','206Pb','U/Th','206Pb*','±','207Pb*','±','206Pb*','±','error','206Pb*','±','207Pb*','±','206Pb*','±','Best age','±','Conc']
)
header2 = pd.Series(header2_vals)

header3_vals = (
    ['','(ppm)','204Pb','','207Pb*','(%)','235U*','(%)','238U','(%)','corr.','238U*','(Ma)','235U','(Ma)','207Pb*','(Ma)','(Ma)','(Ma)','(%)']
)

header3 = pd.Series(header3_vals)

empty_series = pd.Series(index=np.arange(20),dtype='str')
empty_series[:] = ''

reject_row = pd.Series(index=np.arange(20),dtype='str')
reject_row[0] = 'Rejected Analyses'

In [6]:
# Create giant dataframe

df = pd.DataFrame(columns = np.arange(20))
df.loc[0,:] = title_row
df.loc[1,:] = empty_series
df.loc[2,:] = header1
df.loc[3,:] = empty_series
df.loc[4,:] = header2
df.loc[5,:] = header3
df.loc[6,:] = empty_series



nickname_dic = {'CT15076':'KZ1','CT15082':'KZ2','CT15092':'KZ3','CT15099':'KZ4','CT15127':'KZ5','CT15113':'KZ6','AB0913':'RU1','CT130918-2A':'SV1',
'100211-9A':'SV2','CT130918-9A':'SV3','CT130919-5A':'SV4','100411-5':'SV5','CT130919-8A':'SV6','AB0926':'SV7','100211-1A':'SV8'}

for sample in samples:
    sample.nickname = nickname_dic[sample.name]
    
    nick_row = pd.Series(index=np.arange(20),dtype='str')
    nick_row[0] = sample.nickname + ' (' + sample.name + ')'
    nick_row[1:] = ''

    df.loc[df.shape[0],:] = nick_row

    df = pd.concat([df,sample.accepted],axis=0,ignore_index=True)

    df.loc[df.shape[0],:] = empty_series
    df.loc[df.shape[0],:] = reject_row

    df = pd.concat([df,sample.rejected],axis=0,ignore_index=True)

    df.loc[df.shape[0],:] = empty_series

print(df)
df.to_csv('table.csv',encoding='utf-8-sig',header=False,index=False)

                                                     0           1   \
0     Table S1: Results of U-Th-Pb analyses for detr...
1
2
3
4                                              Analysis           U
...                                                 ...         ...
2709                                     CT15127 spot 4  286.001986
2710                                     CT15127 spot 5  232.642468
2711
2712                                  Rejected Analyses         NaN
2713

                2         3          4         5               6         7   \
0
1
2                                                  Isotope ratios       NaN
3
4            206Pb      U/Th     206Pb*         ±          207Pb*         ±
...            ...       ...        ...       ...             ...       ...
2709  20277.081023  2.679411  18.611898  2.397552         0.37209  3.564092
2710  16656.058708    1.5673  18.171534  2.711461        0.358604  3.337417
2711
2712           NaN       NaN        NaN       NaN             NaN       NaN
2713

            8         9         10                  11        12          13  \
0
1
2          NaN       NaN       NaN  Apparent ages (Ma)
3
4       206Pb*         ±     error              206Pb*         ±      207Pb*
...        ...       ...       ...                 ...       ...         ...
2709  0.051101  1.682366  0.472032          321.279945  5.272624  321.201677
2710  0.048207  1.656476  0.496335          303.502219  4.910931  311.172097
2711
2712       NaN       NaN       NaN                 NaN       NaN         NaN
2713

            14          15         16          17        18         19
0
1
2
3
4            ±      206Pb*          ±    Best age         ±       Conc
...        ...         ...        ...         ...       ...        ...
2709  9.814044  321.645371  71.367921  321.279945  5.272624  99.886388
2710  8.944698  370.002242  65.263889  303.502219  4.910931   82.02713
2711
2712       NaN         NaN        NaN         NaN       NaN        NaN
2713

[2714 rows x 20 columns]